.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.horizcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-icons {
  text-decoration: none;
}

.divider-solid {
  border-style: solid;
}
.divider-dashed {
  border-style: dashed;
}

.container {
  padding: 5px;
}
.MenuIcon {
  border-style: dashed;
}
.img {
  padding-top: 5px;
}

.inline {
  display: inline-block;
}

