.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.horizcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.smol {
  width: 17%;
  margin-left: 15px;
}

.nav-icons {
  text-decoration: none;
}

.container {
  padding: 5px;
}
.donatecontain {
  background: #d3d3d3;
  padding: 15px;
}

.MenuIcon {
  border-style: dashed;
}

.img {
  padding-top: 15px;
}

.inline {
  display: inline-block;
}

hidden {
  visibility: hidden;
}