.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.centernav {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.hiddencenternav {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  opacity: 0.0;
}

.horizcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-icons {
  text-decoration: none;
}

.divider-solid {
  border-style: solid;
}
.divider-dashed {
  border-style: dashed;
}

.MenuIcon {
    border-style: dashed;
}
.img {
  padding-top: 5px;
}

