
/**/

/*Import CSS Scripts from internal code*/
@import "css/align.css";
@import "css/color.css";
@import "css/divider.css";
@import "css/forms.css";
@import "css/styles.css";
@import "css/navbar.css";




/*Icons for Nav Bar*/
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
