body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #333;
    color: white;
    padding: 50px 5px;
}

.highlights {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.highlight-box {
    background-color: #444;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
}
    

footer {
    padding: 5px;
}